/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100vh;
  background: #111;
  color: white;
  padding: 20px;
  transition: 0.3s ease;
  z-index: 9999;
}

.sidebar.active {
  left: 0;
}

.sidebar a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 12px 0;
  font-size: 18px;
}

.sidebar a:hover {
  color: gold;
}

/* Sidebar Header */    /*Important*/
.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.close-btn {
  font-size: 30px;
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

/* Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: none;
  z-index: 9998;

}
.overlay.active {
  display: block;
}
.close-btn:hover {
  color: gold;
}
